body{
    margin: 0px;
    padding: 0px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 20px;
}


/*Header*/
.header{
    height: auto;
    width: 100%;
    background-color: #444444;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.header a{
    color: #CCCCCC;
    height: 100%;
    width: 20%;
    text-decoration: none;
    text-align: center;
    min-width: 150px;
}


/* ABOUTME */
.aboutMe{
    height: auto;
    background-image: linear-gradient(#43caff,#1919f0);
    padding: 10px 2%;
}

.aboutMe p{
    text-align: justify;
}

.aboutMe a{
    color: #000;
}

#myPhoto{
    float: right;
    width: 200px;
    height: auto;
    margin-top: 10px;
    margin-left: 20px;
}


/* GAMES */
.games{
    height: auto;
    background-image: linear-gradient(#1919f0,#ff9e9e);;
    padding: 10px 2%;
}

.gamesHeader{
    height: 4em;
    text-align: center;
    margin: 5px 10%;
}

.gamesContainer{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    grid-column-gap: 50px; 
    margin: 5% 0;
}

.game{
    color: #fff;
    text-align: center;
}

.game strong{
    color: red;
    font-size: 22px;
}

.game p{
    text-align: justify;
    text-justify: left;
    color: #000000;

}


.gameFoto{
    width: 80%;
    height: auto;
    margin: 10% 0;
    transition: transform 2s;
}

.gameFoto:hover{
    transform: scale(1.25);

}

/* Game Info */
.gameInfo{
    height: 90%;
    background-color: #3535e9;
    padding: 5vh 20px;
}

.gameInfo strong h1{
    color: #000;
    font-size: 45px;
    margin-top: 0.1vh;
    text-align: center;
}

.gameInfo strong h2{
    color: #f00;
    margin-top: 30vh;
    font-size: 75px;
    text-align: center;
}



.studentsLife{
    background: url("../img/StudentsLife.png") no-repeat center center;
    background-size: cover;
}

.medivalmagedon{
    background: url("../img/Medivalmagedon.png") no-repeat center center;
    background-size: cover;
}

.piratesLife{
    background: url("../img/PiratesLife.png") no-repeat center center;
    background-size: cover; 
}

/* FOOTER */
.footer{
    height: 1.5em;
    background-color: #444444;
    padding: 10px 2%;
    text-align: center;
}

.footer em{
    margin-top: 0.5em;   
}